PORT=3000

DATABASE_URL=

JWT_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

SAYABAYAR_API_KEY=
SAYABAYAR_MERCHANT_ID=

BYYVERSE_API_KEY=
BYYVERSE_SECRET=

DOMAIN=zyouzzotp.my.id
SSL=true
APP_NAME=ZYOUZZ OTP
NODE_ENV=development

